<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.br">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.logicware.brapp.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.logicware.brapp.activities.IndexActivity"
            android:label="@string/title_activity_index"
            android:parentActivityName="com.logicware.brapp.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logicware.brapp.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.logicware.brapp.activities.CreateAccountActivity"
            android:label="@string/title_activity_crear_cuenta_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.logicware.brapp.activities.IndexClientActivity"
            android:label="@string/title_activity_index_client"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.logicware.brapp.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.logicware.brapp.activities.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.logicware.brapp.activities.ListEstablishmentActivity"
            android:label="@string/title_activity_list_establishment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.logicware.brapp.activities.OneEstablishmentActivity"
            android:label="@string/title_activity_one_establishment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.logicware.brapp.activities.CreateEstablishmentActivity"
            android:label="@string/title_activity_create_establishment"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
